tmc:
  sandboxUrl: http://172.17.0.1:3001
  notifyUrl: http://127.0.0.1:3000/submission-result

security:
  oauth2:
    client:
      tmc:
        redirectUri: https://pingis.testmycode.io/oauth2/authorize/code/tmc

server:
  use-forward-headers: true
