<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: header">
  <title id="pageTitle">#CodePong: Challenge finished</title>
</head>
<body>
<nav th:include="navbar :: navigation"></nav>
  <div class="container">
    <br/>
    <div class="row">
      <div class="lead">Congratulations!</div>
      <div th:text="'You have finished challenge' + ${challenge.name} + '!'"></div>
      <a href="/user" class="btn btn-primary">Back to dashboard</a>
    </div>
  </div>
</body>
</html>
