<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="base :: header"></head>
    <body>
        <nav th:include="navbar :: navigation"></nav>
        <div class="container">
            <div class="col-md-6">
                <h1>Login page</h1>
                <!--/* The form uses Thymeleaf to automatically handle CSRF tokens which Spring Security requires. */-->
                <form th:action="@{/fake/authorize}" method="post">
                    <input name="state" th:value="${state}" type="hidden"/>
                    <input name="redirectUri" th:value="${redirectUri}" type="hidden"/>
                    <label for="username">Username</label>:
                    <input id="session_login" type="text" name="username" autofocus="autofocus"/> <br/>
                    <label for="password">Password</label>:
                    <input id="session_password" type="password" name="password"/> <br/>
                    <input id="log-in-button" type="submit" value="Log in"/>
                </form>
            </div>
        </div>
    </body>
</html>