<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="base :: header"></head>
    <body onload="connect()">
        <nav th:include="navbar :: navigation"></nav>
        <h1>Feedback</h1>
        <p> Your solution has been successfully received.</p>
        <p th:text="${challengeId}" />
        <div id="results" >Waiting for results...</div>

        <a th:href="'nextTask/'+${challengeId}" class="btn btn-primary">Next task</a>

        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
        <script th:src="@{/js/results.js}"></script>
    </body>
</html>

