<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="base :: header">
        <title id="pageTitle">#CodePong: Feedback</title>
    </head>
    <body onload="connect()">
        <nav th:include="navbar :: navigation"></nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Feedback</h1>
                    <p>Your solution has been successfully received.</p>
                    <div id="results">Waiting for results...<br/>
                        <center><img src="img/loading.gif" alt="CodePong loading icon" class="loading-icon"></img></center>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a id="back-button" th:href="'task/'+${taskInstance.id}" class="btn btn-primary">Back</a>
                    <a th:href="'playChallenge/'+${challengeId}" id="next-task-button" class="nexttask btn btn-success">Next task</a>
                    <a href="/user" id="selectFromList" class="nexttask btn btn-success">Back to dashboard</a>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="feedback-container" id="userFeedBack" th:unless="${user.id == taskInstance.task.author.id}">
                            <div class="row">
                                <h3>How would you rate this task?</h3>
                            </div>
                            <div class="row lead">
                                <div id="stars" class="starrr"></div>
                                <button type="submit" class="btn btn-success" onclick="sendRating(event)">Rate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="givenrating" type="number" id="givenRating"/>
            </form>

            <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
            <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
            <script th:src="@{/js/results.js}"></script>
            <script th:src="@{/js/feedbackStomp.js}"></script>
            <script th:src="@{/js/starrr.js}"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                //Makes the model attribute usable in external javascript files
                var submissionId = /*[[${submissionId}]]*/;
                var taskInstanceId = /*[[${taskInstance.id}]]*/;
                /*]]>*/
            </script>
        </div>
    </body>
</html>