<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="base :: header"></head>
    <body onload="connect()">
        <nav th:include="navbar :: navigation"></nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Feedback</h1>
                    <p>Your solution has been successfully received.</p>
                    <div id="results">Waiting for results...</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a th:href="'task/'+${taskInstance.id}" class="btn btn-primary">Back</a>
                    <div th:unless="${challenge.isOpen}">
                        <a th:href="'nextTask/'+${challenge.id}" id="next-task-button" class="btn btn-success">Next task</a>
                    </div>
                    <div th:if="${challenge.isOpen}">
                        <a th:href="'playTurn/'+${challenge.id}" id="next-task-button" class="btn btn-success">Next task</a>
                    </div>
                    <a th:href="'nextTask/'+${challenge.id}" id="selectFromList" class="nexttask btn btn-success">Next task from a list</a>
                    <a th:href="'randomTask/'+${challenge.id}" id="selectByRandom" class="nexttask btn btn-success">Next task by random</a>
                </div>
            </div>

            <form>
              <div class="feedback-container" id="userFeedBack">
                <div class="row">
                    <h3>Your feedback of the task</h3>
                </div>
                <div class="row lead">
                    <div id="stars" class="starrr"></div>
                    <button type="submit" class="btn btn-success" onclick="sendRating(event)">Give feedback</button>
                </div>
              </div>
                <input class="givenrating" type="number" id="givenRating"/>
            </form>

            <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
            <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
            <script th:src="@{/js/results.js}"></script>
            <script th:src="@{/js/feedbackStomp.js}"></script>
            <script th:src="@{/js/starrr.js}"></script>
            <script th:inline="javascript">
            /*<![CDATA[*/
                //Makes the model attribute usable in external javascript files
                var submissionId = /*[[${submissionId}]]*/;
                var taskInstanceId = /*[[${taskInstance.id}]]*/;
            /*]]>*/
            </script>
        </div>
    </body>
</html>
