<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: header">
      <title id="pageTitle">#CodePong: Frontpage</title>
</head>
<body>
      <nav th:include="navbar :: navigation"></nav>
      <div class="divider frontpage-topbar" id="frontpage-topbar">
            <div class="frontpage-logo">
               <img src="img/logo.svg" alt="CodePong frontpage logo"></img>
            </div>
            <div class="row task-topbar-challenge-info"> <!-- top bar -->
                  <div class="row">
                        <h2 class="frontpage-info" id="frontpage-info">> Test-Driven development with a twist</h2>
                  </div>
            </div>
      </div>
      <div class="divider frontpage-bottom" id="frontpage-bottom">
      </div>
</body>
</html>
