<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: header"></head>
<body>
    <nav th:include="navbar :: navigation"></nav>
    <h1>Login page</h1>
    <!--/* The form uses Thymeleaf to automatically handle CSRF tokens which Spring Security requires. */-->
    <form th:action="login" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br />
      <input type="submit" value="Log in" />
    </form>
</body>
</html>
