<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: header"></head>
<body>
<nav th:include="navbar :: navigation"></nav>
<div class="container">
    <div class="row">
        <h1>new task pair</h1>
        <div th:if="${errors != null}" class="row" th:text="'Your code has syntax errors:'+${errors}"></div>
        <form th:action="@{/createTaskPair}" method="post">
            <input type="hidden" name="challengeId" th:value="${challengeId}"/>
            <div class="row">
            <div class="col-md-6">
                <label>Test task name:</label><br/>
                <input type="text" name="testTaskName" size="80" placeholder="Eg. 'Test multiplication'"/><br/>
                <label>Test task description:</label><br/>
                <textarea name="testTaskDesc" rows="10" cols="80" placeholder="Eg. 'Write a JUnit test case that tests the multiplication method for two integers.&#10;Method should take two integers as arguments and return the product of those as an integer'"></textarea><br/>
                <label>Code stub:</label><br/>
                <textarea name="testCodeStub" rows="10" cols="80"></textarea><br/>
            </div>
            <div class="col-md-6">
                <label>Implementation task name:</label><br/>
                <input type="text" name="implementationTaskName" size="80" placeholder="Eg. 'Make multiplication test pass'"/><br/>
                <label>Implementation task description:</label><br/>
                <textarea name="implementationTaskDesc" rows="10" cols="80" placeholder="Eg. 'Write code that makes the given test pass.&#10;Method should take two integers as arguments and return the product of those as an integer'"></textarea><br/>
                <label>Code stub:</label><br/>
                <textarea name="implementationCodeStub" rows="10" cols="80"></textarea><br/>
            </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Create task pair</button>
            </div>
        </form>
        <div th:if="${#lists.size(challenge.tasks) >= minLength}">
          <a th:href="'/closeChallenge/'+${challengeId}"  class="btn btn-primary">Close challenge</a>
        </div>
    </div>
</div>
</body>
</html>
