<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: header"></head>
<body>
    <nav th:include="navbar :: navigation"></nav>

    <div class="container">

        <div class="row">
            <h4>Dashboard</h4>
        </div>
        <div class="row dashboardtopbar"> <!-- top bar -->
            <div class="col-md-2">
                <img src="img/tomato.png"/>
            </div>
            <div class="col-md-8">
              <p th:inline="text">Name: [[${user.name}]]</p>
              <p th:inline="text">Level: [[${user.l evel}]]</p>
              <p> Rank: Tomato</p>
            </div>
            <div class="col-md-2">
                <canvas id="progresscircle" width="110" height="110"></canvas>
            </div>
        </div>
        <div class="row">
            <a href="/newchallenge" class="btn btn-primary">New open-ended challenge</a>
        </div>
        <div class="row">
            <div class="col-md-6">
              
                <p class="lead">My challenges:</p>
            </div>
            <div class="col-md-6">
              <p class="lead">Available challenges</p>
            </div>
        </div>
      <div class="row">
        <div th:each="challenge : ${tasksDoneWithinChallenge}" class="col-md-6">
          <div class="row challengeitem">
            <a href="/nextTask/${challenge.key.id}">[[${challenge.key.name}]]</a> <p th:inline="text">Progress: [[${#lists.size(challenge.value)}]] / [[${#lists.size(challenge.key.tasks)}]] tasks done></p>
            <div class="progress">
              <div th:with="pvalue=1.0 * (${#lists.size(challenge.value)} / ${#lists.size(challenge.key.tasks)})" class="progress-bar" role="progressbar" aria-valuenow="${pvalue}"
                   aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span class="sr-only">[[${pvalue}]] % Complete</span>
              </div>
            </div>

          </div>
        </div>
    </div>
    </div>
    <script src="js/ProgressCircle.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var myCanvas = document.getElementById('progresscircle');

        var circle = new ProgressCircle({
            canvas: myCanvas,
            minRadius: 30,
            arcWidth: 15,
        }); 

        circle.addEntry({
            fillColor: 'rgba(255, 0, 0, 0.5)',
            progressListener: function() {
                return 0.88; // between 0 and 1
            },
            infoListener: function() {return "Points to next level: 88"},
        });
        circle.start(33);
    </script>
</body>
</html>

