<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="base :: header"></head>
   <body>
      <nav th:include="navbar :: navigation"></nav>
      <div class="divider dashboard-topmost-div" id="dashboard-topmost-div">

         <div class="container dashboardtopbar">
            <div class="row dashboardtopbar"  id="dashboardtopbar" > <!-- top bar -->
               <div class="col-md-3">
                  <div class="row">
                     <div class="col-md-4">
                        <h2>Dashboard</h2>
                        <p th:inline="text" class="lead dashboard-user-name"><strong>Name: </strong>&nbsp;[[${user.name}]]</p>
                        <p class="lead dashboard-user-name"><strong>Rank: </strong>Tomato</p>  <!-- TODO: support for different ranks -->
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <h4 th:inline="text" class="header dashboardtopbar-stats">Challenges completed: [[${userLevel}]]</h4>
               </div>
               <div class="col-md-3">
                  <h4 th:inline="text" class="header dashboardtopbar-stats">Level: [[${userLevel}]]</h4>
               </div>
               <div th:each="error : ${errors}" class="alert alert-warning">
                  <div class="row"><p class="error-message">[[${error}]]></p></div> <!-- Show error messages -->
               </div>
            </div>
         </div>
      </div>


      <div class="container dashboard-bottom-div">
         <ul class="nav nav-tabs"> <!--  tab -->
            <li class="active"><a data-toggle="tab" href="#arcade-tab">Arcade</a></li>
            <li><a data-toggle="tab" href="#practice-tab">Practice</a></li>
            <li><a data-toggle="tab" href="#history-tab">History</a></li>
         </ul>

         <!-- Arcade tab -->
         <div id="arcade-tab" class="container challenge-container tab-pane fade in active">
            <div th:if="${message != null}" th:text="${message}"></div> <!-- still needed? there is new error box which supports multiple error-messages -->
            <div class="challenge_list row">
               <div class="col-md-6">
                  <h3 class="header challenge-col-header">Continue</h3>
                  <div class="well challenge-col-well">You have one Task still in progress. Continue where you left off.</div>
                  <div th:if="${unfinishedTaskinstance == null}" >You have no Tasks in progress. Pick a new challenge.</div>
                  <div th:unless="${unfinishedTaskinstance == null}" class="row challengeitem">
                     <a th:href="'/nextTask/' + ${unfinishedTaskinstance.task.challenge.id}" th:inline="text"><h3 class="header challengeitem-header">[[${unfinishedTaskinstance.task.challenge.id}]]</h3></a>
                     <p class="lead challenge-progress-number" th:inline="text">[[${#lists.size(unfinishedTaskinstance.task.challenge.tasks)}]] / [[${#lists.size(unfinishedTaskinstance.task.challenge.tasks)} / 2]]</p>
                     <p class="challenge-progress-done">done</p>
                  </div>

                  <p>Here you can select a challenge and practice by doing tasks at your own pace.</p>
                  <hr>

                  <h3 class="header challenge-col-header">Started challenges</h3>
                  <div class="well challenge-col-well">Basic Well</div>
                  <div th:if="${#maps.isEmpty(myTasksInChallenges)}" >No ongoing solo challenges</div>
                  <div th:each="challenge : ${myTasksInChallenges}" class="row challengeitem">
                     <a th:href="'/playChallenge/' + ${challenge.key.id}" th:inline="text"><h3 class="header challengeitem-header">[[${challenge.key.name}]]</h3></a> <p class="lead challenge-progress-done" th:inline="text">[[${#lists.size(challenge.value)}]] / [[${#lists.size(challenge.key.tasks) / 2}]] &nbsp;<strong>done</strong></p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="header challenge-col-header">Available challenges</div>
                  <div class="well challenge-col-well">New challenges are available.</div>
                  <div th:if="${availableChallenges.empty}">No open challenges</div>
                  <div th:each="challenge : ${availableChallenges}" class="row challengeitem">
                     <a th:href="'/startChallenge/' + ${challenge.id}" th:id="'open-challenge-'+${challenge.name}" ><h3 class="header challengeitem-header" th:inline="text">[[${challenge.name}]]</h3></a> <p th:inline="text" class="lead challenge-progress-done">Not started </p>
                  </div>
               </div>
            </div>
         </div>

         <!-- Practice challenges tab -->
         <div id="practice-tab" class="tab-pane fade">
          <a th:if="${liveChallengeType == T(pingis.controllers.UserController.LiveType).CREATE}" href="/newchallenge" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Play a turn-based game against a real opponent">Create New Live Challenge</a>
          <a th:if="${liveChallengeType == T(pingis.controllers.UserController.LiveType).JOIN}" th:href="'/playChallenge/' + ${liveChallenge.id}" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Play a turn-based game against a real opponent">Join Live Challenge</a>
          <a th:if="${liveChallengeType == T(pingis.controllers.UserController.LiveType).CONTINUE}" th:href="'/playChallenge/' + ${liveChallenge.id}" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Continue your turn-based game against a real opponent">Continue Live Challenge</a>
          <a href="/randomTask" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Play a random Task from a random Challenge">Give me a random task</a>
          <a href="/newArcadeChallenge" class="btn btn-primary">Create new arcade challenge</a>
          <a href="/playArcade?realm=BEGINNER" class="btn btn-primary">Play arcade challenge</a>
         </div>

         <div id="history-tab" class="tab-pane fade">
           <!-- TODO: add history -->
         </div>
      </div>

      <script th:src="@{/js/progressCircle.js}" type="text/javascript" charset="utf-8"></script>
      <script th:src="@{/js/hints.js}" type="text/javascript" charset="utf-8"></script>
   </body>
</html>
